* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #111111;
  --secondary-bg: grey;
  --accent-color: #e527b2;
}
body {
  font-family: Work Sans;
  font-size: 18px;
  color: #111111;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 15px 0;
}
button {
  padding: 7px 15px;
  background-color: var(--accent-color);
  border-style: none;
  color: #ffffff;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.disabledButton {
  background-color: var(--secondary-bg) !important;
  cursor: not-allowed !important;
}
.product-title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px;
}
.product-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px 20px;
  text-align: center;
  width: 270px;
}
.product-card-items:hover {
  cursor: pointer;
  background: #eeecec;
}
.product-card-items .product-image {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(17, 17, 17, 0.05);
  height: 130px;
}
.product-card-items .product-image img {
  width: 80px;
}
.product-card-items .rating {
  margin: 10px 0;
}
.product-card-items .rating .star {
  color: #ffc107;
  font-weight: bold;
  font-size: 25px;
}
.product-prize {
  color: rgba(17, 17, 17, 0.5);
}
.hr {
  /* border-bottom: 1px solid rgba(17, 17, 17, 0.15); */
  margin: 10px 0;
  border-radius: 5px;
  background: rgba(17, 17, 17, 0.15);
  height: 2px;
}
/*******************************************/
/****** Hero section css goes here  *******/
/*****************************************/
#hero-section {
  background: #f9f6e2;
}
.hero-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale-details {
  margin-right: 25px;
  text-align: center;
}
.sale-details .sale-title {
  font-size: 32px;
  margin: 10px 0;
}
.sale-details .sale-head {
  font-size: 48px;
  margin-bottom: 15px;
}
.sale-details .sale-highlight {
  color: var(--accent-color);
}

.sale-details .sale-info {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
.sale-info .code-text {
  margin-right: 18px;
}
.sale-info button {
  cursor: grab;
  background: var(--accent-color);
  color: #ffffff;
  border-style: none;
  padding: 5px 8px;
  border-radius: 5px;
}
/* sale cover shit*/
.sale-cover {
  max-width: 550px;
  margin-left: 25px;
}
.sale-cover-image {
  width: 550px;
}

/**************************/
/* product section css   */
/************************/
.product-section .product-section-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.products-side {
  overflow-y: scroll;
}
/***********************/
/* purchasse section  */
/*********************/
.purchase-side {
  margin-top: 80px;
  position: sticky;
  top: 100vh;
}

.coupon-title {
  text-align: left !important;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.apply-coupon {
  display: inline-flex; /* Display children side by side */
  border-radius: 8px; /* Add border-radius to round the corners */
  padding: 10px;
  overflow: hidden;
}
.apply-coupon input,
.apply-coupon button {
  margin: 0;
}
.apply-coupon input {
  border-radius: 8px 0 0 8px; /* Add border-radius to input */
  padding: 10px; /* Add padding for input */
  flex-grow: 1; /* Allow the input to grow and take available space */
  border-radius: 8px 0 0 8px; /* Rounded left corners for the input */
  width: 60%;
}
.apply-coupon input::placeholder {
  font-size: 14px;
  font-style: italic;
}
.apply-coupon button {
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.purchase-description {
  text-align: left !important;
}
.purchase-description .cart {
  margin-left: 15px;
  font-size: 18px;
}
.dimm-text {
  color: rgba(17, 17, 17, 0.5);
}
.buy-button {
  text-align: center;
}
.buy-button .button {
  border-radius: 5px;
  margin-bottom: -25px;
  margin-top: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* modal design */
.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.popup-modal .modal-content .congo {
  font-size: 50px;
  margin: 10px 0;
}
.modal-content .success-msg {
  font-size: 20px;
  margin-bottom: 15px;
}
.popup-modal .modal-content img {
  width: 100px;
}
.modal-content button {
  border-radius: 5px;
  cursor: pointer;
}
